<h3>Top Christian </h3>
<div class="title-section">
    <h5 class="no-btm-margin">{{title}}</h5>
    <hr>
</div>

<select required #serviceCoordinatorId [(ngModel)]="selectedPerson">
<option>Please Select</option>
<option *ngFor="let option of testItems" [value]="option.id" >{{option.item}}</option>
</select>


<div>
    <multiple-date-picker [showDaysOfSurroundingMonths]="false" [disallowBackPastMonths]="true" [sundayFirstDay]="true" disableDaysBefore="true" [monthChanged]="logMonthChanged" [(ngModel)]="initialCount"></multiple-date-picker>
    <button (click)="findArrayFn()">Find Array: For Testing</button>
    <button (click)="runGenerateFn()">Run Generate: For Testing</button>
    <button (click)="fireClearDays();arrayMock1()">Change Array 1</button>
    <button (click)="fireClearDays();arrayMock2()">Change Array 2</button>
    <button (click)="fireClearDays();arrayMock3()">Change Array 3</button>
    <div>
    <h2>Days Selected from child projectScope array</h2>
        <p>{{initialCount | json}}</p>
    </div>
</div>
<button (click)="multipleDatePicker.clearDays()">Clear Days Array</button>
<button (click)="logMonthChanged()">Log Month Changed</button>
<div class="gird grid-pad">
    <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
            {{charles}}!
        <div>
    </div>
</div>
<!--{{ initialCount | json}}-->

<!--name="multiple-date-picker"-->

<!--[projectScope]="initialCount"-->