<h3>Top Christian </h3>
<div class="title-section">
    <h5 class="no-btm-margin">{{title}}</h5>
    <hr>
</div>

<select required #serviceCoordinatorId [(ngModel)]="selectedPerson">
<option>Please Select</option>
<option *ngFor="let option of testItems" [value]="option.id" >{{option.item}}</option>
</select>

<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Company (disabled)" disabled value="Google">
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container floatPlaceholder="auto" class="example-full-width">
      <input mdInput placeholder="First name">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Long Last Name That Will Be Truncated">
    </md-input-container></td>
  </tr></table>

  <p>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
    </md-input-container>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address 2"></textarea>
    </md-input-container>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="City">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="State">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
    </md-input-container></td>
  </tr></table>
</form>

<div>
    <multiple-date-picker [showDaysOfSurroundingMonths]="false" [matIcons]="true" [disallowBackPastMonths]="true" [sundayFirstDay]="true" disableDaysBefore="true" [monthChanged]="logMonthChanged" [(ngModel)]="initialCount"></multiple-date-picker>
    <button (click)="findArrayFn()">Find Array: For Testing</button>
    <button (click)="runGenerateFn()">Run Generate: For Testing</button>
    <button (click)="fireClearDays();arrayMock1()">Change Array 1</button>
    <button (click)="fireClearDays();arrayMock2()">Change Array 2</button>
    <button (click)="fireClearDays();arrayMock3()">Change Array 3</button>
    <div>
    <h2>Days Selected from child projectScope array</h2>
        <p>{{initialCount | json}}</p>
    </div>
</div>
<button (click)="multipleDatePicker.clearDays()">Clear Days Array</button>
<button (click)="logMonthChanged()">Log Month Changed</button>
<div class="gird grid-pad">
    <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
            {{charles}}!
        <div>
    </div>
</div>
<!--{{ initialCount | json}}-->

<!--name="multiple-date-picker"-->

<!--[projectScope]="initialCount"-->